body{
    background-color: rgb(42,42,42);
}
.plyr-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid;
}
.player{
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 232, 230);
  justify-content: space-around;
  align-items: center;
  width: 25%;
  border-radius: 10px;
  margin:  10px;
  height: 50%
}
main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: rgb(230,232,230);
  height: 4vw;
  margin-bottom: 5px;
}
#links{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
body{
  margin: 0;
}
.reset{
  display: flex;
  flex-direction: column;
}
.active{
  background-color: rgb(232,111,52);
}
.btn-group{
  margin-left: 3px;
  margin-right: 3px;
}
li  {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-btn{
  width: 95px;
  margin: 3px;
}
.back{
  margin-left: auto;
  margin-right: 3px;
}
.logo{
  margin-left: 5px;
}
.nav-group{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
article > *{
  color: white;
  margin-left: 40px;
  margin-right: 40px;
}
article > p{
  margin-left: 60px;
}
.get-player{
  margin-bottom: 8px;
}
